.characters-wrap {
    --offset: 68px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc((var(--offset) / 2) * -1);
    margin-right: calc((var(--offset) / 2) * -1);
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    .character-item {
        margin-bottom: var(--offset);
        @include customOffsetWidth(50, var(--offset));
    }
    @include to(1120px){
        --offset: 34px;
    }
    @include to(1024px){
        .character-item {
            @include customOffsetWidth(50, var(--offset));
        }
    }
    @include to(650px){
        .character-item {
            @include customOffsetWidth(100, var(--offset));
        }
    }
}

.character-item {
    --offset: 30px;
    display: flex;
    flex-wrap: wrap;
    &__img {
        
        @include customOffsetWidth(25, var(--offset));
        padding-bottom: 20px;
        max-width: 57px;
    }
    &__text-wrap {
        
        @include customOffsetWidth(75, var(--offset));
    }
    &__title {
        font-size: 22px;
        line-height: 100%;
        color: var(--color-grey);
        padding-right: 20%;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 15px;
        line-height: 160%;
    }
    @include to(575px){
        --offset: 20px;
    }
}