.choose-flat-content-wrapper {
    --self-padding-top: 80px;
    --self-padding-left: 45px;
    --self-padding-right: 50px;
    --offset: 36px;
    @include row-flex();
    min-height: 100vh;
    .breadcrumbs {
        margin-bottom: 30px;
    }
    &__filter {
        padding-top: calc(var(--header-h) + var(--self-padding-top));
        @include size(3);
        @include shift(0);
        padding-left: var(--self-padding-left);
        border: 1px solid #EFEFEF;
        align-self: stretch
    }
    &__content {
        padding-top: calc(var(--header-h) + var(--self-padding-top));
        @include size(9);
        @include shift(0);
        padding-right: var(--self-padding-right);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: hidden
    }
    .flat-card {
        @include customOffsetWidth(33, var(--offset));
        margin-bottom: var(--offset);
        @include from(1680px){
            // @include customOffsetWidth(25, var(--offset));

        }
        @include to(1280px){
            @include customOffsetWidth(50, var(--offset));

        }
    }
    .build-plan-wrapper {
        min-height: calc(100vh - (var(--self-padding-top) + var(--header-h)));
    }
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc((var(--offset) / 2) * -1);
        margin-right: calc((var(--offset) / 2) * -1);
        width: calc(100% + var(--offset));
    }
    .button-std {
        max-width: none;
        width: auto;
        padding-left: 37px;
        padding-right: 37px;
    }
    .button-std:after {
        content: attr(data-count-results);
        margin-left: 1ch;
    }
}

.filter-title {
    font-weight: 550;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-grey);
    margin-bottom: 20px;
}
.filter-subtitle {
    font-weight: 550;
    font-size: 15px;
    line-height: 100%;
    color: var(--color-grey);
    margin-bottom: 10px;
}


.checkbox-with-span {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    cursor: pointer;
    label {
        cursor: pointer;
    }
    input {
        display: none;
    }
    input:checked~label {
        font-weight: 550;
        
        /* identical to box height, or 12px */
        /* Grey */
        color: var(--color-grey);
        text-decoration-line: underline;
    }
}

.filter-mini-group {
    --offset: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #EFEFEF;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: calc(var(--self-padding-left) * -1);
    padding-left: var(--self-padding-left);
    padding-right: var(--self-padding-left);
    .filter-subtitle {
        width: 100%;
    }
    .checkbox-quares~.checkbox-quares {
        margin-left: calc(var(--offset) / 2);
    }
    .checkbox-with-span~.checkbox-with-span {
        margin-left: var(--offset);
    }
    .irs.irs--flat {
        width: 100%;
        margin-bottom: 50px;
        margin-top: -25px;
    }
    .irs--flat {
        height: auto;
    }
}

.checkbox-quares {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    font-weight: 550;
    background-color: var(--color-light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    label {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-light-grey);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .3s ease-in-out;
    }
    input:checked~label {
        font-weight: 550;
        
        /* identical to box height, or 12px */
        /* Grey */
        background-color: var(--color-gold);
    }

}


.irs--flat .irs-line {
    height: 2px;
    background-color: #C8C8C9;
  }
  .irs--flat  .irs-handle>i {
    display: none !important;
  }
  .irs--flat .irs-handle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-gold);
    cursor: pointer;
  }
  .irs--flat .irs-bar {
    height: 2px;
    background-color: var(--color-gold);
  }
  .irs-to:before,
  .irs-from:before {
      display: none !important;
  }
  .irs--flat .irs-from,
  .irs--flat .irs-to {
    top: auto;
    bottom: 0;
    transform: translateY(100%);
    height: 15px;
    margin-bottom: -30px;
  }
  
  .irs--flat .irs-from,
  .irs--flat .irs-to {
    // transform: translateY(calc(21px + 100%));
  }
  .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: transparent;
    color: var(--color-grey);
    font-size: 12px;
    line-height: 100%;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
//   .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
//     display: none;
//   }


.flat-card {
    border: 1px solid #EFEFEF;
    padding-bottom: 31px;
    padding-top: 10px;
    padding-left: 26px;
    padding-right: 26px;
    --h: 340px;
    min-height: var(--h);
    text-align: center;
    text-decoration: none;
    color: var(--color-grey);
    &__img {
        height: calc(var(--h)  * 0.42);
        width: 100%;
        object-fit: contain;
        object-position: center;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 18px;
        line-height: 130%;
        color: var(--color-grey);
        margin-bottom: 0px;
        @include from(1680px){
            font-size: 24px;
        }
    }
    &__info-wrap {
        text-align: left;
        border-collapse:separate; 
        border-spacing:0 10px;
    }
    &__info-wrap-item {
        color: var(--color-grey);
        
    }
    &__info-wrap-item~&__info-wrap-item {
        padding-top: 10px;
    }
    &__info-wrap-item td:last-child {
        font-weight: 550;
        padding-left: 10px;
    }
    &__link {
        margin-top: 10px;
    }
}

.build-plan-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    color: var(--color-grey);
    padding-bottom: var(--footer-margin);
    
    &>* {
        flex-grow: 1;
    }
    &__left {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 82px;
        padding-left: 82px;
        svg {
            // margin-left: auto;
            width: 100%;
            height: auto;
        }
    }
    &__right {
        width: 30%;
        display: flex;
        align-self: stretch;
        flex-direction: column;
        justify-content: space-between;
    }
    &__subtitle {
        font-weight: 550;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        width: 100%;
        margin-bottom: 22px;
    }
    [data-link] {
        transition: .3s ease-in-out;
        fill: rgba(0,0,0,0);
        cursor: pointer;
    }
    [data-link]:hover {
        fill: #efefef75;
    }
    .compass {
        margin-left: auto;
        display: block;
    }
    
}

.section-info {
    border: 1px solid #EFEFEF;
    --side-padding: 40px;
    color: var(--color-grey);
    &__title {
        font-weight: 550;
        font-size: 18px;
        line-height: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EFEFEF;
        padding-left: var(--side-padding);
    }
    table {
        width: calc(100% - var(--side-padding) * 2);
        margin: 25px auto;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        font-size: 15px;
        line-height: calc(100% + 15px);
    }

}

.filter-wrapper {
    width: 100%;
    &__nav {
        display: flex;
        width: 100%;
        align-items: center;
    }
    &__nav-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            margin-left: 10px;
        }
    }
    &__nav-item~&__nav-item {
        margin-left: 10px;
    }
    &__nav div:first-child {
        margin-right: auto;
    }
}

.table-wrapper {
    width: 100%;
    img {
        object-fit: contain;
    }
    td>div,
    td> img{
        height: 90px;
    }
    td> img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    td {
        width: calc(100% / 6);
        text-align: center;
        
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    tbody tr {
        border: 1px solid red;
    }
}