#choose-section-and-filter-page,
#id-page-choose-section-and-filter {
    // .header {
    //     display: none;
    // }
    @include from-to(576px, 769px){
        .choose-flat-content-wrapper {
            margin-left: 0;
            margin-right: 0;
        }
        .page__inner {
            overflow: initial;
        }
        .footer {
            width: 100vw;
            overflow: hidden;
            margin-left: 0;
            margin-right: 0;
        }
    }
    @include to(575px){
        .page__inner {
            overflow: initial;
        }
        .choose-flat-content-wrapper {
            margin-left: 0;
            margin-right: 0;
        }
        .footer {
            width: 100vw;
            overflow: hidden;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
.choose-flat-content-wrapper {
    --self-padding-top: 80px;
    --self-padding-left: 45px;
    --self-padding-right: 50px;
    --offset: 36px;
    @include row-flex();
    position: relative;
    min-height: 100vh;
    @include to(768px){
        align-content: flex-start;
    }
    .breadcrumbs {
        margin-bottom: 30px;
        @include to(575px){
            margin-bottom: 16px;
        }
    }
    &__filter {
        padding-top: calc(var(--header-h) + var(--self-padding-top));
        @include size(3);
        @include shift(0);
        padding-left: var(--self-padding-left);
        border: 1px solid #EFEFEF;
        align-self: flex-start;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        padding-bottom: 20px;
        @include to(1240px){
            @include size(4);
        }
        @include to(950px){
            --self-padding-top: 30px;
            @include size(12);
            position: sticky;
            position: -webkit-sticky;
            background-color: var(--color-white);
            z-index: 10;
            top: 0;
            // padding-top: var(--header-h);
            padding-bottom: 30px;
            padding-left: var(--page-side-fields);
            padding-right: var(--page-side-fields);
        }
        @include to(575px){
            --self-padding-top: 15px;
        }
    }
    &__filter.rolled-up{
        height: 30px;
        overflow: hidden;
    }
    &__filter.rolled-up {
        --self-padding-top: 5px;
    }
    &__filter.rolled-up svg {
        transform: rotate(0deg);
    }
    &__filter.rolled-up>.filter-title,
    &__filter.rolled-up>.breadcrumbs {
        opacity: 0;
    }
    &__filter.rolled-up  .mobile-hide-button{
        transform: translateX(-50%);
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__content {
        padding-top: calc(var(--header-h) + var(--self-padding-top));
        @include size(9);
        @include shift(0);
        padding-right: var(--self-padding-right);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: hidden;
        @include to(1240px){
            @include size(8);
            
        }
        @include to(950px){
            @include size(12);
            --self-padding-right:0;
            padding-top: 20px;
            padding-left: var(--page-side-fields);
            padding-right: var(--page-side-fields);
        }
    }
    .flat-card {
        @include customOffsetWidth(33, var(--offset));
        margin-bottom: var(--offset);
        
        @include from(1680px){
            // @include customOffsetWidth(25, var(--offset));

        }
        @include to(1280px){
            @include customOffsetWidth(50, var(--offset));
        }
        @include to(950px){
            @include customOffsetWidth(75, var(--offset));
            margin-left: auto;
            margin-right: auto;
        }
        @include to(575px){
            @include customOffsetWidth(100, var(--offset));
        }
        @include from-to(576px, 769px){
            @include customOffsetWidth(50, var(--offset));

        }
    }
    .build-plan-wrapper {
        min-height: calc(100vh - (var(--self-padding-top) + var(--header-h)));
    }
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc((var(--offset) / 2) * -1);
        margin-right: calc((var(--offset) / 2) * -1);
        width: calc(100% + var(--offset));
    }
    .cards-wrapper:empty:after {
        content: 'Nothing to search';
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 32px;
        color: var(--color-grey);
        line-height: 1.6em;
        font-weight: 550;
    }
    .table-wrapper {
        margin-bottom: var(--footer-margin);
    }
    [data-table-flats-render]:empty:after {
        content: 'Nothing to search';
        position: absolute;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 32px;
        color: var(--color-grey);
        line-height: 1.6em;
        font-weight: 550;
    }
    .button-std {
        max-width: none;
        width: auto;
        padding-left: 37px;
        padding-right: 37px;
    }
    .button-std:after {
        content: attr(data-count-results);
        margin-left: 1ch;
    }
}

.filter-title {
    font-weight: 550;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-grey);
    margin-bottom: 20px;
}
.filter-subtitle {
    font-weight: 550;
    font-size: 15px;
    line-height: 100%;
    color: var(--color-grey);
    margin-bottom: 10px;
}


.checkbox-with-span {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.03em;
    cursor: pointer;
    label {
        cursor: pointer;
    }
    input {
        display: none;
    }
    input:checked~label {
        font-weight: 550;
        
        /* identical to box height, or 12px */
        /* Grey */
        color: var(--color-grey);
        text-decoration-line: underline;
    }
}

.filter-mini-group {
    --offset: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #EFEFEF;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-left: calc(var(--self-padding-left) * -1);
    padding-left: var(--self-padding-left);
    padding-right: var(--self-padding-left);
    @include to(575px){
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .filter-subtitle {
        width: 100%;
    }
    .checkbox-quares~.checkbox-quares {
        margin-left: calc(var(--offset) / 2);
    }
    .checkbox-with-span~.checkbox-with-span {
        margin-left: var(--offset);
    }
    .irs.irs--flat {
        width: 100%;
        margin-bottom: 50px;
        margin-top: -25px;
    }
    .irs--flat {
        height: auto;
    }
}

.checkbox-quares {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    font-weight: 550;
    background-color: var(--color-light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    label {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-light-grey);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .3s ease-in-out;
    }
    input:checked~label {
        font-weight: 550;
        
        /* identical to box height, or 12px */
        /* Grey */
        background-color: var(--color-gold);
    }

}


.irs--flat .irs-line {
    height: 2px;
    background-color: #C8C8C9;
  }
  .irs--flat  .irs-handle>i {
    display: none !important;
  }
  .irs--flat .irs-handle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-gold);
    cursor: pointer;
  }
  .irs--flat .irs-bar {
    height: 2px;
    background-color: var(--color-gold);
  }
  .irs-to:before,
  .irs-from:before {
      display: none !important;
  }
  .irs--flat .irs-from,
  .irs--flat .irs-to {
    top: auto;
    bottom: 0;
    transform: translateY(100%);
    height: 15px;
    margin-bottom: -30px;
  }
  
  .irs--flat .irs-from,
  .irs--flat .irs-to {
    // transform: translateY(calc(21px + 100%));
  }
  .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    background-color: transparent;
    color: var(--color-grey);
    font-size: 12px;
    line-height: 100%;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
//   .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
//     display: none;
//   }


.flat-card {
    border: 1px solid #EFEFEF;
    padding-bottom: 31px;
    padding-top: 10px;
    padding-left: 26px;
    padding-right: 26px;
    --h: 340px;
    min-height: var(--h);
    text-align: center;
    text-decoration: none;
    color: var(--color-grey);
    @include to(575px){
        padding-left: 20px;
        padding-right: 20px;
    }
    &__img {
        height: calc(var(--h)  * 0.42);
        width: 100%;
        object-fit: contain;
        object-position: center;
        margin-bottom: 20px;
    }
    &__title {
        font-size: 18px;
        line-height: 130%;
        color: var(--color-grey);
        margin-bottom: 0px;
        @include from(1680px){
            font-size: 24px;
        }
    }
    &__info-wrap {
        text-align: left;
        border-collapse:separate; 
        border-spacing:0 10px;
    }
    &__info-wrap-item {
        color: var(--color-grey);
        
    }
    &__info-wrap-item~&__info-wrap-item {
        padding-top: 10px;
    }
    &__info-wrap-item td:last-child {
        font-weight: 550;
        padding-left: 10px;
    }
    &__link {
        margin-top: 10px;
    }
}

.build-plan-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    color: var(--color-grey);
    padding-bottom: var(--footer-margin);
    
    &>* {
        flex-grow: 1;
    }
    &__left {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 82px;
        padding-left: 82px;
        svg {
            // margin-left: auto;
            width: 100%;
            height: auto;
        }
        @include to(575px){
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
        }
    }
    &__right {
        width: 30%;
        display: flex;
        align-self: stretch;
        flex-direction: column;
        justify-content: space-between;
    }
    &__subtitle {
        font-weight: 550;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        width: 100%;
        margin-bottom: 22px;
    }
    [data-link] {
        transition: .3s ease-in-out;
        fill: rgba(0,0,0,0);
        cursor: pointer;
    }
    [data-link]:hover {
        fill: #efefef75;
    }
    .compass {
        margin-left: auto;
        display: block;
    }
    
}

.section-info {
    border: 1px solid #EFEFEF;
    --side-padding: 40px;
    color: var(--color-grey);
    @include to(575px){
        --side-padding: var(--page-side-fields);
    }
    &__title {
        font-weight: 550;
        font-size: 18px;
        line-height: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #EFEFEF;
        padding-left: var(--side-padding);
    }
    table {
        width: calc(100% - var(--side-padding) * 2);
        margin: 25px auto;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        font-size: 15px;
        // line-height: calc(100% + 15px);
    }
    td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

.filter-wrapper {
    width: 100%;
    &__nav {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }
    &__nav-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            margin-left: 10px;
        }
    }
    &__nav-item path[fill] {
        fill: var(--text-gray);
    }
    &__nav-item path[stroke] {
        stroke: var(--text-gray);
    }
    &__nav-item.active {
        color: var(--color-grey);
    }
    &__nav-item.active path[fill] {
        fill: var(--color-grey);
    }
    &__nav-item.active path[stroke] {
        stroke: var(--color-grey);
    }
    &__nav-item~&__nav-item {
        margin-left: 10px;
    }
    &__nav div:first-child {
        margin-right: auto;
        color: var(--color-black);
        path {
            stroke: var(--color-grey);
        }
    }
}

.table-wrapper {
    width: 100%;
    cursor: pointer;
    a {
        text-decoration: none;
        color: inherit;
    }
    img {
        object-fit: contain;
    }
    td>div,
    td> img{
        height: 90px;
    }
    thead td>div {
        height: 55px;
    }
    td> img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    td {
        width: calc(100% / 6);
        text-align: center;
        
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    tbody tr {
        border: 1px solid #EFEFEF;
        transition: .3s ease-in-out;
    }
    @include from(950px){
        tbody tr:hover {
            transform: perspective(100px) translateZ(1px);
            -webkit-box-shadow: 0px -1px 68px 2px rgba(56,62,65,0.25);
            -moz-box-shadow: 0px -1px 68px 2px rgba(56,62,65,0.25);
            box-shadow: 0px -1px 68px 2px rgba(56,62,65,0.25);
            border-color: transparent;
        }
    }
    @include to(575px){
        font-size: 12px;
        line-height: 1.3em;
        width: auto;
        margin-left: calc(var(--page-side-fields) * -0.5);
        margin-right: calc(var(--page-side-fields) * -0.5);
    }
    @include to(350px){
        font-size: 10px;
        td>div,
        td> img{
            height: 60px;
        }
        td>img {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
.mobile-hide-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    font-weight: 550;
    color: var(--color-grey);
    background-color: var(--color-white);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 20px;
        height: 15px;
        transition: .3s ease-in-out;
        transform: rotate(180deg);
    }
    
    @include from(951px){
        display: none;   
    }
    @include to(575px){
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.filter-table-image-view {
    position: absolute;
    right: 1px;
    bottom: 0;
    width: 100%;
    // height: calc(100% - (var(--header-h) + var(--self-padding-top)));
    height: 100%;
    object-fit: contain;
    z-index: 5;
    pointer-events: none;
    background-color: #fff;
    height: calc(100% - 20px - var(--header-h) - var(--self-padding-top));
    opacity: 0;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    color: var(--color-grey);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1em;
    img {
        margin-top: 15px;
        max-height: 35vh;
        object-fit: contain;
    }
    &[src=''] {
        opacity: 0;
    }
}
.genplan-svg {
    text {
        fill: var(--color-grey);
        font-weight: 300;
        font-size: 20px;
    }
    .vertical-svg-text {
        transform: rotate(
-90deg
);
    transform-origin: top;
    transform-box: fill-box;
    }
}


[data-filter].current-sorted {
    font-weight: 550;
color: var(--color-grey);
}