
.form {
  width: 550px;
  @include to(1440px) {
    width: 400px;
  }
  @include to(1080px) {
    width: 340px;
  }
  @include to(992px) {
    margin: 60px auto 0;
    width: 490px;
  }
  @include to(576px) {
    width: 240px;
  }
}
