.developer-page-wrapper {
    @include from(1680px){
        max-width: none;
        padding-left: calc((100vw - 1680px) / 2);
        padding-right: calc((100vw - 1680px) / 2);
    }
}
.developer-wrapper {
    border: 1px solid #DBDBDB;
    --side-padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include size(10);
    @include shift(1);
    line-height: 160%;
    margin-bottom: var(--footer-margin);
    
    @include to(1024px){
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    @include to(950px){
        --side-padding: 30px;
    }
    @include to(575px){
        --side-padding: var(--page-side-fields);
    }
    &>* {
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
    }
    &__title {
        font-size: 20px;
        line-height: 150%;
        /* or 30px */
        /* черный */
        color: var(--color-black);
        border-bottom: 1px solid #DBDBDB;
        padding-top: 30px;
        padding-bottom: 26px;
    }
    &__logo {
        width: 50%;
        border-right: 1px solid #DBDBDB;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 54px;
        padding-bottom: 54px;
        align-self: stretch;
        @include to(575px){
            width: 100%;
            border-bottom: 1px solid #DBDBDB;
        }
        img {
            max-width: 40%;
            margin-bottom: 40px;
        }
    }
    &__text {
        width: 50%;
        padding-top: 40px;
        padding-bottom: 40px;
        @include to(575px){
            width: 100%;
        }
    }
    p~p {
        margin-top: 30px;
    }
    &__slider {
        width: 100%;
        border-top: 1px solid #DBDBDB;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .swiper-container {
        height: 100px;
        margin-top: 20px;
        cursor: grab;
    }
    .swiper-slide img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
    .swiper-container:active {
        cursor: grabbing;
    }
}