.home-section-0 {
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: var(--header-h);
    padding-left: var(--page-side-fields);
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    // align-items: flex-start;
    // align-content: center;
    padding-left:  Max( calc((100vw - 590px) / 2), var(--page-side-fields));
    padding-right: Max(calc((100vw - 590px) / 2), var(--page-side-fields));
    @include from(1680px){
        padding-left:  Max( calc((100vw - 768px) / 2), var(--page-side-fields));
        padding-right: Max(calc((100vw - 768px) / 2), var(--page-side-fields));

    }
    &__text-block {
        margin-top: auto;
        margin-bottom: 0;
    }
    &__text {
        font-size: 16px;
        line-height: 100%;
        color: var(--color-white);
        flex-basis: 100%;
        align-self: flex-start;
        margin-top: auto;
        align-self: flex-start;
        margin-bottom: 0;
        font-weight: 300;
        @include from(1680px){
                    font-size: 20px;
        }
    }
    &__text~&__text {
        margin-top: 10px;
    }
    &__title {
        font-weight: 550;
        font-size: 45px;
        line-height: 130%;
        color: var(--color-white);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        margin-top: 40px;
       align-self: flex-start;
       @include from(1680px){
        font-size: 53px;
       }
    }
    .button-std {
        margin: 40px auto 0 auto;
    }
    .button-std~.button-std {
        margin-left: 40px;
    }
    .scroll-mouse {
        flex-basis: 100%;
        margin-bottom: 0;
        margin-bottom: 0;
        margin-top: auto;
        @include from(1680px){
            height: 45px;
        }
    }
    @include from(576px){
        .mobile-show {
            display: none;
        }
    }
    @include to(575px){
        .desktop-show {
            display: none;
        }
    }
    @include to(575px){
        &__title {
            font-size: 36px;
            font-size: 28px;
            margin-top: 20px;
        }
        .button-std {
            margin-top: 20px;
        }
        .button-std ~ .button-std {
            margin-left: 0;
        }
    }
}



.home-section-1 {
    background-color: var(--color-grey);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: calc((100vw - 573px) / 2);
    padding-right: calc((100vw - 573px) / 2);
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
    margin-top: -1px;
    @include from(1680px){
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: calc((100vw - 768px) / 2);
        padding-right: calc((100vw - 768px) / 2);
        font-size: 24px;
    }
    @include from-to(576px, 950px){
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
    }
    svg {
        margin-bottom: 30px;
        @include from(1680px){
            width: 40px;
            height: auto;
        }
    }
    @include to(950px){
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
    }
}
.home-section-2 {
    background-color: #F6F6F6;
    

    display: flex;
    flex-wrap: wrap;

    &__text {
        width: 50%;
        padding-top: 140px;
        padding-bottom: 175px;
        padding-left: calc(var(--page-side-fields) + (100% / 12));
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @include from(1680px){
            padding-left: calc((100vw - 1720px) / 2 + 4%);
        }
    }
    &__img {
        width: 50%;
        margin-top: -110px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;
        }
    }
    .subtitle {
        margin-bottom: 17px;
    }
    .subtitle-with-decor {
        margin-bottom: 36px;
    }
    .text {
        margin-bottom: 30px;
        padding-right: 30%;
    }
    @include to(575px){
        padding-left: var(--page-side-fields);
        // padding-right: var(--page-side-fields);
        &__text {
            width: 100%;
            padding-top: 80px;
            padding-right: var(--page-side-fields);
            padding-bottom: 50px;
            padding-left: 0;
        }
        &__img {
            width: 100%;
            margin-top: 0;
        }
        .text {
            padding-right: 0%;
        }
    }
}

.home-section-3 {
    max-width: 886px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    --minus-padding: 40px;
    @include from-to(576px, 950px){
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
    }
    .card-with-text-on-bg-wrap {
        margin-bottom: 60px;
    }
    .card-with-text-on-bg-wrap:nth-child(even) {
        margin-bottom: calc(var(--minus-padding) * -1);
        margin-top: calc(var(--minus-padding) * 2.5);
        transform: translateY(-80px);
        // margin-top: 105px;
    }
    .card-with-text-on-bg-wrap:nth-child(odd) {
        margin-top: calc(var(--minus-padding)  * -1);
        margin-bottom: 105px;
    }
    // .card-with-text-on-bg-wrap:nth-child(2) {
    //     margin-top: 45px;
    //     margin-bottom: -45px;
    // }
    // .card-with-text-on-bg-wrap:nth-last-child(2) {
    //     margin-bottom: 0px;
    //     margin-top: -45px;
    // }
    .card-with-text-on-bg-wrap {
        width: calc(50% - 60px);
        margin-left: 30px;
        margin-right: 30px;
        display: inline-block;
        @include to(575px){
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    &__top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        @include to(575px){
            margin-bottom: 30px;
            margin-bottom: 0px;
        }
    }
    .subtitle {
        margin-left: 37px;
    }
    &__cards {
        width: auto;
        margin-top: var(--minus-padding);
        display: flex;
        margin-left: -30px;
        margin-right: -30px;
        flex-wrap: wrap;
    }
    @include from(1680px){
        max-width:1024px;
    }
    @include to(575px){
        --minus-padding: 00px;
        --mob-between-margin: 30px;
        padding-top: 50px;
        padding-bottom: 80px;
        padding-top: 80px;
        &__cards {
            margin-left: 0;
            margin-right: 0;
        }
        .card-with-text-on-bg-wrap:nth-child(even) {
            margin-bottom: 0;
            margin-top: var(--mob-between-margin);
            transform: none;
            // margin-top: 105px;
        }
        .card-with-text-on-bg-wrap:nth-child(odd) {
            margin-top: var(--mob-between-margin);
            margin-bottom: 0;
        }
        .card-with-text-on-bg-wrap {
            width: 100%;
        }
    }
}
.card-with-text-on-bg-wrap {
    background-repeat: no-repeat;
    background-size: cover;

}
.card-with-text-on-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    color: var(--color-white);
    padding-top: 66%;
    padding-left: 18.5%;
    padding-right: 18.5%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include from(1680px){
        padding-left: 11.5%;
    padding-right: 11.5%;
    }
    p {
        text-align: center;
    }
    .subtitle-with-decor {
        // width: 100%;
        display: flex;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        &:after {
            margin-left: auto;
        }
        @include from(1680px){
            text-align: center;
        }
        @include to(575px){
            text-align: center;
        }
    }
    .subtitle-with-decor::after {
        transform: translateY(150%);
    }
    @include to(575px){
        padding-left: 30px;
    padding-right: 30px;
        p {
            // text-align: left;
        }
    }
}


.home-section-4 {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: calc((100vw - 745px) / 2);
    padding-right: calc((100vw - 745px) / 2);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // align-content: center;
    justify-content: center;
    position: relative;
    @include from-to(576px, 950px){
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
    }
    .video-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .video-wrapper:after {
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.25);
    }
    @include from(1680px){
        padding-left: calc((100vw - 1140px) / 2);
    padding-right: calc((100vw - 1140px) / 2);
    }
    &__title {
        font-size: 30px;
        line-height: 100%;
        color: var(--color-white);
        margin-top: auto;
        @include from(1680px){
            font-size: 48px;
            text-align: center;
        }
    }
    .digit-block-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-self: flex-end;
    }
    @include to(575px){
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        text-align: center;
        .digit-block-wrap {
            flex-direction: column;
            align-items: center;
        }
        .digit-block~.digit-block {
            margin-top: 15px;
        }
    }
    
}
.digit-block  {
    color: var(--color-white);
    line-height: 1.3em;
    &__value {
        font-weight: 550;
        font-size: 22px;
        line-height: 130%;
        margin-bottom: 10px;
        @include from(1680px){
            font-size: 42px;
        }
    }
    &__text {
        @include from(1680px){
            font-size: 24px;
        }
    }
    @include to(575px){
        &__value {
            margin-bottom: 5px;
        }
    }   
}



.home-section-5 {
    display: flex;
    flex-wrap: wrap;
    --offset: 60px;
    margin-left: calc((var(--offset) / 2) * -1);
    margin-right: calc((var(--offset) / 2) * -1);
    @include shift-padding(1);
    padding-top: 100px;
    padding-bottom: calc(100px - var(--offset));
    @include from(1680px){
        max-width: 1680px;
     margin-left: auto;
     margin-right: auto;   
    }
    @include from-to(576px, 950px){
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
    }
    @include to(575px){
        padding-top: 80px;
        padding-bottom: calc(80px - var(--offset));
    }
    .subtitle-with-decor {
        @include size(12);
        margin-left: calc((var(--offset) / 2));
        margin-right: calc((var(--offset) / 2));
        text-align: center;
        margin-bottom: 60px;
        @include to(575px){
            
    margin-bottom: 35px;

        }
    }
    .home-flat-card {
        width: calc(50% - var(--offset));
        margin-left: calc((var(--offset) / 2));
        margin-right: calc((var(--offset) / 2));
        margin-bottom: 60px;
        @include from-to(576px, 950px){
            width: calc(100% - var(--offset));

        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-left:  Max(10%, 30px);
        padding-right: Max(10%, 30px);
        p {
            color: var(--color-grey);
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    @include to(575px){
        --offset: 0px;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        padding-bottom: calc(20px - var(--offset));
        .home-flat-card {
            width: calc(100% - var(--offset));
        }
        .subtitle-with-decor {
            width: 100%;
        }
        .home-flat-card {
            margin-bottom: 30px;
        }
    }
}
.home-flat-card {
    width: 50%;
    height: 285px;
    position: relative;
    --v-padding:30px;
   @include from(1680px){
       height: 320px;
   }

    &__outer {
        background-color: var(--color-light-grey);
        width: 55%;
        padding: 30px;
        height: 100%;
        clip-path: polygon(0 0, 39% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 61% 0, 100% 100%, 0% 100%);
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__inner {
        position: absolute;
        top: var(--v-padding);
        right: 0;
        width: 70%;
        height: calc(100% - (var(--v-padding) * 2));
        z-index: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__inner-data {
        background-color: var(--color-grey);
        padding: 14px 30px;
        color: var(--color-white);
        position: absolute;
        right: 0;
        top: 0;
        width: max-content;
        font-size: 16px;
        line-height: 100%;
        .bold {
            font-weight: 550;
        }
        .bold:before {
            content: ' ';
        }
    }
    &__title {
        font-size: 22px;
        line-height: 100%;
        /* identical to box height, or 22px */
        /* Grey */
        color: var(--color-grey);
        padding-top: 21px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        width: max-content;
        margin-top: auto;
        margin-bottom: auto;
        @include from(1680px){
            font-size: 24px;
        }
    }
    &__title:after {
        position: absolute;
        content: '';
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 23px;
        height: 6px;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='6' viewBox='0 0 23 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1C1 1 5.09756 5 11.2439 5C17.3902 5 22 1 22 1' stroke='%23EFC47F' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__data-item {
        color: var(--color-grey);
    }
    &__data-item span:first-child {
        font-weight: 550;
        font-size: 14px;
        line-height: 140%;
        @include from(1680px){
            font-size: 18px;
        }
    }
    &__data-item span:first-child:after {
        content: ' ';
    }
    @include to(575px){
        
        &__outer {
            padding: 20px;
            width: 70%;
        }
        &__title {
            padding-left: 0;
        }
        &__inner-data {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
        }
        
    }

}

.home-section-6 {
    background-color: var(--color-grey);
    @include shift-padding(1);
    display: flex;
    flex-wrap: wrap;
    --offset: 60px;
    --v-padding:107px;
    margin-left: calc((var(--offset) / 2) * -1);
    margin-right: calc((var(--offset) / 2) * -1);
    @include from(1680px){
        padding-left: calc((100vw - 1680px) / 2);
        padding-right: calc((100vw - 1680px) / 2);
        padding-left: calc((100vw - 1680px) / 2 + 4%);
    }
    &__text {
        width: calc(47% - var(--offset));
        margin-left: calc(var(--offset) / 2);
        margin-right: calc(var(--offset) / 2);
        padding: var(--v-padding) 0;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
    }
    .subtitle-with-decor {
        margin-bottom: 30px;
    }
    p {
        padding-right: 20%;
        @include to(575px){
            padding-right: 0;
        }
    }
    &__img {
        width: calc(53% - var(--offset));
        margin-left: calc(var(--offset) / 2);
        margin-right: calc(var(--offset) / 2);
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: auto;
            @include to(575px){
                position: static;
                transform: none;   
            }
        }
        svg {
            margin: auto;
            width: 100%;
            height: auto;
            @include to(575px){
                display: none;
            }
        }
    }
    .characteristics-wrap {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        .single-characteristic  {
            width: 70px;
            margin-right: 50px;
        }

    }
    @include from(1680px){
        .characteristics-wrap { 

            .single-characteristic  {
                width:  100px;
                // margin-right: 60px;
            }
        }

    }
    @include to(575px){
        --offset:20px;
        --v-padding: 80px;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        padding-bottom: var(--v-padding);
        &__text {
            width: calc(100% - var(--offset));
            padding-bottom: 50px;
        }
        &__img {
            width: calc(100% - var(--offset));
        }
        .characteristics-wrap .single-characteristic {
            width: 50%;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}
.single-characteristic {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    &__value {
        font-weight: 550;
            font-size: 45px;
            line-height: 100%;
            margin-bottom: 10px;
    }
    &__text {
        line-height: 120%;
    }
}

.slider-numbers {
    color: var(--color-white );
    display: flex;
    align-items: flex-start;
    .current {
        font-size: 72px;
        line-height: 100%;
    }
    .all {
        transform: translateY(-100%);
    }
    @include from(1680px){
        .current {
            font-size: 96px;
        }
    }
}

.home-section-7 {
    height: 100vh;
    width: 100vw;
    @include to(575px){
    height: 100vw;
    }
    .home-slider {
        width: 100%;
        height: 100%;
        position: relative;
        
    }
    .slider-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    .slide {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slider-numbers {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        background: linear-gradient(
            140deg
            , rgba(0, 0, 0, 0) 42%, #000000 100%);
            padding-top: 150px;
            padding-left: 150px;
            padding-bottom: 10px;
            padding-right: 10px;
            @include to(575px){
                background: linear-gradient(
                    140deg
                    , rgba(0, 0, 0, 0) 50%, #000000 100%);
                
        }
    }
    .slider-nav {
        z-index: 6;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-between;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        cursor: pointer;
        svg {
            border-radius: 50%;
        }
        svg:hover {
            animation: pulse 1s infinite ease-in-out;
        }
        @include from(576px){
            display: none;
        }
    }
    @include from(1680px){
        .slider-nav {
            padding-left: calc((100vw - 1720px) / 2);
            padding-right: calc((100vw - 1720px) / 2);
            svg {
                width: 100px;
                height: 100px;
            }
        }
    }
    @include to(575px){
        .slider-nav svg {
            width: 50px;
            height: 50px;
        }
    }
}

.home-section-8 {
    @include shift-padding-left(1);
    --v-padding:100px;
    padding-top: var(--v-padding);
    padding-bottom: var(--v-padding);
    --offset: 60px;
    margin-left: calc((var(--offset) / 2) * -1);
    margin-right: calc((var(--offset) / 2) * -1);
    display: flex;
    flex-wrap: wrap;
    @include from(1680px){
        --v-padding: 150px;
    }
    @include from-to(576px, 950px){
        padding-left: var(--page-side-fields);
        --offset: 30px;
        // padding-right: var(--page-side-fields);
    }
    &>.subtitle-with-decor {
        width: calc(100% - var(--offset));
        margin-left: calc(var(--offset) / 2);
        margin-right: calc(var(--offset) / 2);
        margin-bottom: 30px;
    }
    &__text {
        width: calc(35% - var(--offset));
        margin-left: calc(var(--offset) / 2);
        margin-right: calc(var(--offset) / 2);
        @include from-to(576px, 950px){

            width: calc(50% - var(--offset));
        }
    }
    &__map {
        width: calc(65% - var(--offset));
        margin-left: calc(var(--offset) / 2);
        margin-right: calc(var(--offset) / 2);
        // border: 1px solid olivedrab;
        @include from-to(576px, 950px){
            width: calc(50% - var(--offset));
        }
        @include to(575px){
            height: 50vh;
            width: calc(100% - var(--offset));
            margin-top: 50px;
        }
    }
    @include from(1720px){
        padding-left: calc((100vw - 1680px) / 2);
        padding-right: calc((100vw - 1680px) / 2);
    }
    @include to(575px){
        --v-padding: 50px;
        --offset: 20px;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        &__text {
            width: calc(100% - var(--offset));
        }
    }
}
.home-contact-block {
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #EFEFEF;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 25%;
    
    .double-margin {
        margin-top: 30px;
    }
    .subtitle {
        font-size: 18px;
        line-height: 140%;
        color: var(--color-grey);
        @include from(1680px){
            font-size: 22px;
        }
    }
    &__icon {
        width: 46px;
        height: 46px;
        border: 1px solid #EFEFEF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include from(1680px){
            width: 60px;
            height: 60px;
            svg {
                height: 40%;
    width: 40%;
            }

        }   
    }
    &__group {
        display: flex;
        align-items: center;
        text-decoration: none;
    color: inherit;
    }
    &__group~&__group {
        margin-top: 10px;
    }
    &__group-text {
        display: flex;
        flex-direction: column;
         padding-left: 14px;
    }
    &>.subtitle {
        margin-bottom: 15px;
    }
    @include from(1680px){
        padding-left: 70px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @include to(575px){
        padding: 20px;
        &__icon {
            width: 36px;
            height: 36px;
        }
        &__group-text {
            width: calc(100% - 41px);
        }
    }
}



.scroll-mouse {
    cursor: pointer;
    circle {
        animation-name: scroll;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(.650,-.550,.250,1.500);
        animation-iteration-count: infinite;
        transform-origin: 50% 20.5px;
        will-change: transform , opacity;
        opacity: 1;
    }
}
@keyframes scroll {
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(15px) scaleY(2);
        opacity: 0;
    }
}

