.single-news-article {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #DBDBDB;
    --side-padding: 60px;
    font-size: 15px;
    line-height: 160%;
    margin-top: 50px;
    @include size(10);
    @include shift(1);
    margin-bottom: var(--footer-margin);
    @include from(1680px){
        font-size: 18px;
    }
    @include to(950px){
        --side-padding: 30px;
    }
    @include to(575px){
        font-size: 14px;
    }
    @include to(1024px){
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        --side-padding: var(--page-side-fields);
    }
    &__title {
        width: 100%;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-black);
        @include from(1680px){
            font-size: 28px;
        }
    }
    &__slider {
        width: 50%;
        border-top: 1px solid #DBDBDB;
        position: relative;
        @include to(575px){
            width: 100%;
        }
    }
    &__top-right {
        width: 50%;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: var(--side-padding);
        padding-left: var(--side-padding);
        border-top: 1px solid #DBDBDB;
        @include to(575px){
            width: 100%;
        }
    }
    &__bottom-right {
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: var(--side-padding);
        padding-right: var(--side-padding);
        border-top: 1px solid #DBDBDB;
        @include to(575px){
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    &__bottom-left {
        width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: var(--side-padding);
        padding-right: calc(var(--side-padding) / 2);
        border-top: 1px solid #DBDBDB;
        @include to(575px){
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    &__numbers {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        color: var(--color-white);
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__video-block {
        width: 100%;
    }
    &__video-block-proportions {
        position: relative;
        padding-bottom: 52.5%;
        &>* {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .all {
        font-size: 72px;
        line-height: 100%;
        /* identical to box height, or 72px */

        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin-left: 30px;
        margin-right: 30px;
    }
    .current {
        position: absolute;
        bottom: 100%;
        right: 0;
        font-size: 12px;
        line-height: 100%;
        /* identical to box height, or 12px */

        text-align: right;
        text-transform: uppercase;
    }
    .button-next,
    .button-prev {
        cursor: pointer;
    }
    .button-std {
        margin-top: 25px;
    }
    .swiper-slide {
        object-fit: cover;
    }
}


.similar-news-wrap {
    margin-bottom: var(--footer-margin);
    @include row-flex();
    @include shift-padding(2.5);
    @include to(1120px){
        @include shift-padding(2);
    }
    @include to(768px){
        @include shift-padding(0);
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .news-card~.news-card {
        margin-top: 50px;
        @include to(768px){
            margin-top: 30px;
        }
    }
}