footer.footer
    .footer__links-wrap
        .footer__links-group
            .footer__subtitle Про проєкт
            ul
                li 
                    a.footer__link Обрати квартиру
                li 
                    a.footer__link(href="about.html") Про комплекс
                li 
                    a.footer__link(href="gallery.html") Галерея
                li 
                    a.footer__link Акції
                li 
                    a.footer__link(href="news.html") Новини
                li 
                    a.footer__link(href="characteristics.html") Характеристики
                li 
                    a.footer__link Умови придбання
                li 
                    a.footer__link(href="contacts.html") Контакти
        .footer__links-group
            .footer__subtitle Будівництво
            ul
                li
                    a.footer__link(href="developer.html") Девелопер
                li 
                    a.footer__link(href="documents.html") Документи
                li
                    a.footer__link(href="panorama.html") Панорама
                li
                    a.footer__link(href="build-progress.html") Хід будівництва
    form(data-footer-form autocomplete="off").home-contact--width.footer__form-wrap.form-std
        legend.uppercased Якщо у вас виникли запитання, залиште свої дані і ми передзвонимо вам:
        .form-field-message Введіть ваше ім’я 
        .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
            input(type='text' name="name" placeholder="Ім’я:").form-field__input
            .input-message(data-input-message)
        .form-field-message Введіть ваш телефон
        .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
            input(type='text' name="phone" placeholder="Телефон:").form-field__input
            .input-message(data-input-message)
            .mask-absolute.js-mask-absolute
        .form-btn-wrap.df.jcsb.aic
            +btn('Замовити дзвінок','gold')(type="submit" data-btn-submit).home-contact-btn--size
    .footer__contacts-wrap.footer-contact-block
        .subtitle Відділ продажу:
        a(target='_blank' href="https://goo.gl/maps/sgHxqVUGaunDDJPU6").medium-margin.footer-contact-block__group
            .footer-contact-block__group-text
                span м. Київ, вул. Щекавицька, 46
        a(href="tel:0442994966").fw-550.color-grey.tdn.medium-margin.db +38 (044) 299 49 66
        .footer-contact-block__group.medium-margin
            .footer-contact-block__group-text
                span Пн-Пт: 10:00 - 19:00 
                span Сб: 11:00 - 16:00
                span Нд: по запису
        .subtitle.large-margin Адреса об’єкту:
        a(href="https://goo.gl/maps/VjrTXj3KXCQ5UWVu6" target='_blank').medium-margin.footer-contact-block__group
            .footer-contact-block__group-text
                span м. Київ, вул. Набережно-Хрещатицька, 49А
        .subtitle.large-margin Соціальні мережі:
        .footer__social-wrap.medium-margin
            a(href=socials.youtube target='_blank').footer__social Youtube
            a(href=socials.instagram target='_blank').footer__social Instagram
            a(href=socials.facebook target='_blank').footer__social Facebook
    .footer__delimiter
    .footer__bottom
        +img('perfect-logo.svg').perfect-logo
        .text © 2021 La Manche. усі права захищено
        a(href="https://smarto.agency" target='_blank')
            +img('smarto.svg').smarto
