
extends ../layout/main
block variable
  -
    var title_page = 'Документи'
    var id_page = 'id-page-documents'
    var class_page = 'class-page-documents'
    var breadcrumbsSubitem = [
    ];
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/documents.js')
block content
  .container
    include ../includes/breadcrumbs.pug
    h1.page-title #{title_page}
    .docs-wrapper 
      - var n = 0;
        while n < 4
          a(target='_blank' href="#").doc
            img(src="./assets/images/doc.jpg").doc__img
            .doc__date 02.10.2020
            .doc__title Декларація про початок будівельних робіт 
            .doc__link(target='_blank' href="#" data-some=n++) Завантажити PDF
            
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
