
extends ../layout/main
block variable
  -
    var title_page = 'Галерея'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
    var breadcrumbsSubitem = [
    ]
    var items = [
      ['build-card-01.jpg'],
      ['build-card-02.jpg'],
      ['build-card-03.jpg'],
      ['build-card-04.jpg'],
      ['build-card-05.jpg'],
    ];
    var flatBlocksData = {
      facades: [
        ['facades-gallery01.jpg	'],
        ['facades-gallery02.jpg	'],
        ['facades-gallery03.jpg	'],
      ],
      gallery: [
        ['gallery-interior01.jpg'],
        ['gallery-interior02.jpg'],
        ['gallery-interior03.jpg'],
        ['gallery-interior04.jpg'],
        ['gallery-interior05.jpg'],
        ['gallery-interior06.jpg'],
      ],
      landscape: [
        ['landscape-gallery01.jpg'],
        ['landscape-gallery02.jpg'],
        ['landscape-gallery03.jpg'],
      ],
    };
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/gallery.js')
block content
  .container
    include ../includes/breadcrumbs.pug
    .title-wrap
      h1.page-title Галерея
      .gallery-switcher
        div(data-content-type="photo").gallery-switcher__item.active ФОТО
        div(data-content-type="video").gallery-switcher__item ВІДЕО
    .gallery-group-wrap(data-wrapper='video')
      .gallery-group 
        .subtitle-with-decor Відео комплексу
        .gallery-group__fixed-wrapper
            .gallery-group__fixed
              +lazyYoutube('RfjiwkorOfo')
        .gallery-group__fixed-wrapper
            .gallery-group__fixed
              +lazyYoutube('RfjiwkorOfo')
        .gallery-group__fixed-wrapper
            .gallery-group__fixed
              +lazyYoutube('RfjiwkorOfo')
        .gallery-group__fixed-wrapper
            .gallery-group__fixed
              +lazyYoutube('RfjiwkorOfo')
    .gallery-group-wrap(data-wrapper='photo')
      .gallery-group 
        .subtitle-with-decor Інтер’єри будинку
        each val in flatBlocksData.gallery
          .gallery-group__fixed-wrapper
            .gallery-group__fixed
              +img('gallery/'+val[0])(data-call-gallery-popup)
      .gallery-group 
        .subtitle-with-decor Фасади
        each val in flatBlocksData.facades
          .gallery-group__fixed-wrapper
            .gallery-group__fixed
              +img('gallery/'+val[0])(data-call-gallery-popup)
      .gallery-group 
        .subtitle-with-decor Ландшафтний парк
        each val in flatBlocksData.landscape
          .gallery-group__fixed-wrapper
            .gallery-group__fixed
              +img('gallery/'+val[0])(data-call-gallery-popup)
    .gallery-photos-popup
      .gallery-photos-popup__blured-bg(data-gallery-blur)
      .detailed-photos-popup-content
        <svg data-detailed-popup-close width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 15L15 1M15 15L1 1" stroke="white" stroke-width="2"/>
          </svg>
        .detailed-nav
          <svg class="detailed-nav-prev" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="35" transform="rotate(-180 35 35)" fill="white"/>
            <path d="M47.0664 34.5L22.1383 34.5M22.1383 34.5L29.6168 27M22.1383 34.5L29.6168 42" stroke="#383E41" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
            </svg>
          <svg class="detailed-nav-next" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="35" fill="white"/>
            <path d="M22.9336 35.5L47.8617 35.5M47.8617 35.5L40.3832 43M47.8617 35.5L40.3832 28" stroke="#383E41" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
            </svg>
        .detailed-photos-image-large.swiper-container(data-gallery-popup-slides)
          .swiper-wrapper 
            each val in flatBlocksData.gallery
              img(src="./assets/images/gallery/"+val).swiper-slide
            each val in flatBlocksData.facades
              img(src="./assets/images/gallery/"+val).swiper-slide
            each val in flatBlocksData.landscape
              img(src="./assets/images/gallery/"+val).swiper-slide
        .detailed-photos-image-nav.swiper-container(data-gallery-slides-nav)
          .swiper-wrapper 
            each val in flatBlocksData.gallery
              +img('gallery/'+val[0]).swiper-slide
            each val in flatBlocksData.facades
              +img('gallery/'+val[0]).swiper-slide
            each val in flatBlocksData.landscape
              +img('gallery/'+val[0]).swiper-slide
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
