
extends ../layout/main
block variable
  -
    var title_page = 'Панорама'
    var id_page = 'id-page-panorama'
    var class_page = 'class-page-panorama'
    var breadcrumbsSubitem = [
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/panorama.js')
block content
  .container.panorama-wrap
    include ../includes/breadcrumbs.pug
    .aero-content-wrap
      .title-wrap
        h1.page-title Панорама
        a(href="gallery.html").underlined-link-wrap
          .underlined-link Галерея
          +svg('build-arrow')
      .aero-wrap
        <iframe data-panorama allowfullscreen="" style="border-style:none;" src="./static/panorama/pannellum.htm#panorama=../../assets/images/Perfect_panorama.jpg&amp;autoLoad=true&amp;preview=https://boston-house.kiev.ua/wp-content/themes/boston/assets/images/panorama/preiew.jpg"></iframe>
      .switcher
        <span>День</span>
        <input data-panorama-switcher  id="s2" data-day="static/panorama/pannellum.htm#panorama=../../assets/images/Perfect_panorama.jpg&autoLoad=true"  data-night="static/panorama/pannellum.htm#panorama=../../assets/images/Perfect_panorama.jpg&autoLoad=true"  type="checkbox"  class="switch">
        <span>Ніч</span>
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
