
extends ../layout/main
block variable
  -
    var title_page = 'Червень 2021'
    var id_page = 'id-page-single-build-progress'
    var class_page = 'class-page-single-build-progress'
    var breadcrumbsSubitem = [
      {
        label: 'Хід будівництва',
        link: 'build-progress.html'
      }
    ];
    var flatBlocksData = [
      ['build-card-01.jpg'],
      ['build-card-02.jpg'],
      ['build-card-03.jpg'],
      ['build-card-04.jpg'],
      ['build-card-05.jpg'],
      ['build-card-01.jpg'],
      ['build-card-02.jpg'],
      ['build-card-03.jpg'],
      ['build-card-04.jpg'],
      ['build-card-05.jpg'],
    ];
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/single-build-progress.js')
block content
  .container
    include ../includes/breadcrumbs.pug
    h1.page-title Червень
    .single-progress-wrap
      .single-progress-wrap__side
        +img('build-progress/build-card-01.jpg')
      .single-progress-wrap__content
        .text.single-progress-date 02.06.2021
        p На даний момент активно ведуться роботи по підземній частині, отримана вся дозвільна документація і необхідні узгодження. Завершено 50% робіт нульового циклу. 
        p Повністю завершено найбільш важливий і відповідальний етап облаштування підземної частини будівлі - «стіна в ґрунті» і свайне поле.
        p На місяць раніше запланованого розпочаті роботи по цементації грунтів під дном котловану. Будинок буде готовий в 4-му кварталі 2022 року
        p Повністю завершено найбільш важливий і відповідальний етап облаштування підземної частини будівлі - «стіна в ґрунті» і свайне поле. На місяць раніше запланованого розпочаті роботи по цементації грунтів під дном котловану. Будинок буде готовий в 4-му кварталі 2022 року
        +btn('Переглянути відео', 'gold')(data-build-camera-popup)
      .build-images-container
          each val in flatBlocksData
            img(data-src="./assets/images/build-progress/"+val data-call-build-popup)
      .web-camera-popup-wrapper(data-build-cam-popup)
        .web-camera-popup
          <svg data-popup-close="" class="web-camera-popup__close" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H45V45C20.1472 45 0 24.8528 0 0Z" fill="#EFC47F"></path>
            <path d="M21 24L31 14M31 24L21 14" stroke="white"></path>
            </svg>
          <iframe class="iv-i" src="https://open.ivideon.com/embed/v2/?server=100-HQrunT5KaVo0qMcpKTK3h2&amp;camera=196608&amp;width=&amp;height=&amp;lang=ru" width="100" allowfullscreen="allowfullscreen"></iframe>
    .detailed-photos-popup
      .detailed-photos-popup-content
        <svg data-detailed-popup-close width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 15L15 1M15 15L1 1" stroke="white" stroke-width="2"/>
          </svg>
        .detailed-nav
          <svg class="detailed-nav-prev" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="35" transform="rotate(-180 35 35)" fill="white"/>
            <path d="M47.0664 34.5L22.1383 34.5M22.1383 34.5L29.6168 27M22.1383 34.5L29.6168 42" stroke="#383E41" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
            </svg>
          <svg class="detailed-nav-next" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="35" fill="white"/>
            <path d="M22.9336 35.5L47.8617 35.5M47.8617 35.5L40.3832 43M47.8617 35.5L40.3832 28" stroke="#383E41" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
            </svg>
        .detailed-photos-image-large.swiper-container(data-build-popup-slides)
          .swiper-wrapper 
            each val in flatBlocksData
              img(data-src="./assets/images/build-progress/"+val).swiper-slide
        .detailed-photos-image-nav.swiper-container(data-build-slides-nav)
          .swiper-wrapper 
            each val in flatBlocksData
              img(data-src="./assets/images/build-progress/"+val).swiper-slide


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
