
extends ../layout/main
block variable
	-
		var title_page = 'Квартира 2А'
		var id_page = 'flat-page'
		var class_page = 'flat-page'
		var breadcrumbsBtn = 'filter'
		var breadcrumbsSubitem = [
			{
				label: 'About',
				link: pagesLink[0].about
			}
		];
		var screens = [
			{ title: 'Концепція', img: './assets/images/gallery/gallery-interior01.jpg' },
			{ title: 'Характеристики', img: './assets/images/gallery/gallery-interior02.jpg' },
			{ title: 'Локація', img: './assets/images/gallery/gallery-interior03.jpg' },
			{ title: 'Архітектура', img: './assets/images/gallery/gallery-interior04.jpg' },
			{ title: 'Філософія', img: './assets/images/gallery/gallery-interior05.jpg' },
			{ title: 'Філософія1', img: './assets/images/gallery/gallery-interior06.jpg' },
		]
	
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/vendors.bundle.js')
	script(defer src='./assets/scripts/index.bundle.js')
	script(defer src='./assets/scripts/libs.js')
	script(defer src='./assets/scripts/index.js')
	script(defer src='./assets/scripts/temp.js')
	
block content
	.container
		include ../includes/breadcrumbs.pug
		.ms-navigation
			each val, i in screens
				<svg  width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="25" cy="25" r="2" fill="#D2D2D2"/>
					<circle data-circle cx="25" cy="25" r="24.25" stroke="#D5B084" stroke-width="1.5"/>
					</svg>
		.ms-slider-overlay 
			each val, i in screens
				.ms-slide
					img(src=val.img)
					.page-title #{val.title} #{i}
		a(href="#")
			<svg data-motion-svg width="603" height="429" viewBox="0 0 603 429" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path id="circle1" d="M452.189 102.294C463.835 102.294 467.162 106.367 467.162 118.003C467.162 106.367 471.044 102.294 482.135 102.294C471.044 102.294 467.162 98.2211 467.162 86.0029C467.162 98.2211 463.835 102.294 452.189 102.294Z" fill="#D9B48F"/>
				<path id="circle2" d="M102.826 368.294C114.471 368.294 117.799 372.367 117.799 384.003C117.799 372.367 121.68 368.294 132.771 368.294C121.68 368.294 117.799 364.221 117.799 352.003C117.799 364.221 114.471 368.294 102.826 368.294Z" fill="#D9B48F"/>
				<path id="road1" d="M570.611 119.207C574.974 135.49 571.671 153.04 561.889 170.863C552.105 188.69 535.853 206.761 514.379 224.045C471.432 258.613 407.672 289.973 333.276 309.908C258.881 329.842 187.983 334.563 133.506 326.1C106.267 321.868 83.1567 314.344 65.7705 303.798C48.3873 293.254 36.7518 279.706 32.3888 263.423C28.0259 247.141 31.3288 229.59 41.1109 211.767C50.8947 193.941 67.1464 175.87 88.6206 158.586C131.568 124.018 195.328 92.6572 269.723 72.723C344.118 52.7889 415.016 48.0679 469.494 56.5309C496.733 60.7625 519.843 68.2865 537.229 78.8327C554.612 89.377 566.248 102.925 570.611 119.207Z" stroke="#D9B48F" stroke-opacity="0.5"/>
				<path id="road2" d="M32.2724  309.186C27.9359 292.896 31.2673 275.351 41.0783 257.544C50.891 239.733 67.1721 221.689 88.6742 204.439C131.677 169.941 195.488 138.684 269.916 118.871C344.343 99.0576 415.249 94.4517 469.712 103.003C496.945 107.279 520.043 114.84 537.412 125.415C554.778 135.987 566.391 149.554 570.728 165.844C575.064 182.133 571.733 199.678 561.922 217.486C552.109 235.296 535.828 253.341 514.326 270.59C471.323 305.088 407.512 336.345 333.084 356.158C258.657 375.972 187.751 380.578 133.288 372.026C106.055 367.75 82.9575 360.189 65.5885 349.614C48.2224 339.042 36.6089 325.475 32.2724 309.186Z" stroke="#D9B48F" stroke-opacity="0.5"/>
				</svg>



block footer
	include ../includes/footer.pug

block header
	include ../includes/header.pug