.icon--ajax-logo {
	width: 62px;
	height: 32px;
}
.icon--key-with-decor {
    width: 26.3px;
    height: 33.6px;
}
.icon--marker {
    width: 13px;
    height: 16px;
}

.icon--tel {
    width: 15px;
    height: 16px;
}
.icon--clock {
    width: 16px;
    height: 16px;
}