.icon--ajax-logo {
	width: 62px;
	height: 32px;
}
.icon--key-with-decor {
    width: 26.3px;
    height: 33.6px;
}
.icon--marker {
    width: 13px;
    height: 16px;
}

.icon--tel {
    width: 15px;
    height: 16px;
}
.icon--clock {
    width: 16px;
    height: 16px;
}

.icon--camera {
    width: 21px;
    height: 19px;
    @include from(1680px){
        width: 29px;
    height: 25px;
    }
}

.icon--build-arrow {
    width: 21px;
    height: 10px;
    @include from(1680px){
        width: 27px;
    height: 16px;
    }
}
.icon--megafon {
    width: 17px;
    height: 15px;
}

.icon--download {
    width: 13px;
    height: 15px;
}